<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e7986">  <td>18/02/01 19:59:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightBookTest.bookingFlightExecution()[pri:0, instance:com.testclasses.pkg.FlightBookTest@39aeed2f]">bookingFlightExecution</td> 
  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/02/01 19:59:25</td>   <td>11590</td> <td>&nbsp;</td><td title="&lt;&lt;Base.closeBrowser()[pri:0, instance:com.testclasses.pkg.FlightBookTest@39aeed2f]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/02/01 19:58:51</td>   <td>-22733</td> <td>&nbsp;</td><td title="&gt;&gt;Base.openBrowser()[pri:0, instance:com.testclasses.pkg.FlightBookTest@39aeed2f]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
</table>
